@using Microsoft.AspNetCore.Mvc.Rendering


@{
    ViewData["Title"] = "Home Page";
}



<div class="acceuil d-flex justify-content-around">
    <img height="500" src="~/images/20.jpeg" />
    <div class="acceuil-text">
        <h1>Bienvenue sur LearnHub</h1>
        <p>Explorez et apprenez avec notre <br>plateforme éducative.</br></p>
    </div>
</div>

<div class="row apropos">
    <h2 id="apropos-titre">À propos de LearnHub</h2>
    <p>LearnHub est une plateforme d'apprentissage en ligne qui offre une variété de cours et de ressources éducatives. Que vous soyez débutant ou expérimenté, notre mission est de vous aider à atteindre vos objectifs d'apprentissage.</p>
</div>
<div class="ligne-hor"></div>
<div class="row cours">
    <h2 id="cours-titre">Découvrez nos cours</h2>
    <p>Parcourez notre catalogue de cours pour trouver des sujets qui vous intéressent. De la programmation à la science des données, nous avons quelque chose pour tout le monde.</p>

    <div class="card-deck">
        <div class="card">
            <img src="~/images/imed_pdp.jpg" width="100" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">cybersécurité</h5>
                <p class="card-text">this is a wider card with supporting text below as a natural lead-in to additional content. this content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card">
            <img src="~/images/mariem_pdp.webp" width="100" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">data science</h5>
                <p class="card-text">this card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/images/amir_pdp.jpg" width="100" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">développement full-stack</h5>
                <p class="card-text">this card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div>
    </div>


    <div class="row avis d-flex justify-content-around">
        <h2 id="avis-titre">Avis de nos clients</h2>
        <p>Découvrez ce que nos clients disent de leur expérience avec LearnHub :</p>
        <div class="card-group">
            <div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                    <p>"J'ai trouvé des cours incroyables sur LurnHub qui ont vraiment amélioré mes compétences en programmation. La plateforme est conviviale et les instructeurs sont excellents."</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            <p>- Ahmed Amin, Développeur Web</p>
                        </small>
                    </footer>
                </blockquote>
            </div>

            <div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                    <p>"LurnHub a changé la donne pour moi. Les cours sont bien structurés, et la possibilité de discuter avec d'autres apprenants est un énorme avantage."</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            <p>- Mariem Sghaier, Étudiante en science des données</p>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="row form">
        <h2 id="form-titre">Commencez votre aventure d'apprentissage</h2>
        <p>Rejoignez la communauté LearnHub et commencez votre voyage d'apprentissage dès maintenant. Inscrivez-vous pour accéder à des fonctionnalités supplémentaires et suivre votre progression.</p>
        <form id="myForm">
            <label for="name">Name*</label>
            <input type="text" id="name" name="name" required placeholder="Enter your name">

            <label for="firstname">Firstname*</label>
            <input type="text" id="firstname" name="firstname" required placeholder="Enter your firstname">

            <label for="phone">Phone number*</label>
            <input type="tel" id="phone" name="phone" required placeholder="Enter your phone number">

            <label for="email">E-mail*</label>
            <input type="email" id="email" name="email" required placeholder="Enter your e-mail">

            <button type="button" onclick="submitForm()">Submit</button>
        </form>
    </div>
