/* Couleurs */
:root {
    --lightyellow: #ffea00;
    --yellow: #ffb200;
    --green: #149473;
    --orange: #ff7922;
    --violet: #c89ca3;
    --lightgrey: #D3D3D3;
    --blue: #65b6f8;
    --lightblue: #d4ebf2;
    --medblue: #64a9e8;
    --bg: #f7f7f7;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 1.6;
}


.btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 10%;
    background-color: var(--blue);
    color: white;
}

    .btn:hover {
        border: 1px solid var(--yellow);
        color: var(--yellow);
        background-color: white;
    }


.column {
    margin-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

/* Pied de page */
.footer {
    text-align: center;
    padding: 0.5em;
    background-color: var(--lightgrey);
    color: white;
    bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

/* Accueil */
.acceuil {
    height: max-content;
    background-size: cover;
    width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 30%;
    border-bottom: solid 0.1em var(--yellow);
    background-color: var(--bg);
    padding: 4% 16%;
    padding-top: 5%;
}



/* Navigation */

.container-fluid {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Header */
.header {
    background-color: var(--lightgrey);
    padding-left: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adjust the shadow values as needed */
}



/* Footer */
.footer {
    text-align: center;
    padding: 0.5em;
    background-color: var(--lightgrey);
    color: black;
    bottom: 0;
    position: absolute;
    width: 100%;
}

/* Heading 1 */
h1 {
    color: var(--yellow);
    text-align: center;
}

/* Acceuil Text */
.acceuil-text p {
    color: var(--blue);
    padding-top: 5%;
    font-size: 1.3em;
}

.acceuil-text {
    padding-top: 15%;
}

/* Heading 2 */
h2 {
    color: var(--yellow);
    padding-bottom: 5%;
    text-align: center;
}

/* A propos */
.apropos {
    background-color: white;
}

/* Cours */
.cours {
    padding: 10% 2%;
    font-size: 1em;
}

/* Titles */
#apropos-titre {
    color: var(--green);
}

#cours-titre {
    color: var(--orange);
}

#avis-titre {
    color: var(--blue);
}

#form-titre {
    color: var(--lightgrey);
}

/* Form */
.form {
    background-color: var(--lightblue);
    width: 100%;
    height: fit-content;
    padding: 10%;
}

.cours {
}
/* Navigation Link */
.nav-link {
    color: white;
}


.card {
    border-radius: 10%;
    border: solid 2px var(--yellow);
    width: 20vw;
    height: fit-content;
    font-size: 1em;
}


.nav-link {
    color: white;
    padding: 10%;
}

.row {
    padding: 7% 7%;
    font-size: 1.5em;
    line-height: 1.6;
}

.ligne-hor {
    width: 30%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--green);
}



label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 50%;
    padding: 8px;
    margin-bottom: 16px;
    border: solid 2px var(--yellow);
    border-radius: 10%;
}

button {
    padding: 10px;
    background-color: var(--yellow);
    color: white;
    border: none;
    cursor: pointer;
}

.card {
    padding: 1em;
}

.card-title {
    color: var(--yellow);
    font-size: 1em;
}

.description {
    font-size: 0.6em;
}

.categorie {
    color: var(--blue);
    font-size: 0.8em
}

.prix {
    color: var(--orange);
    font-size: 1em;
    font-weight: bold;
}

#myForm {
    font-size: 0.7em;
}
